<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock-Paper-Scissors Game</title>
</head>
<body>
    <h1>게임 종료</h1>
    <p>5라운드가 끝났습니다. 이제 추측하세요!</p>
    <form action="/guess" method="post">
        <label for="user_guess">누구일까요?</label>
        <input type="text" id="user_guess" name="user_guess" required>
        <button type="submit">추측 제출</button>
    </form>
</body>
</html>
